<div class="container">
  <legend>Update A book</legend>
  <div class="mb-3">
    <label for="txtBookAuthor" class="form-label">Author</label>
    <input type="text" [(ngModel)]="bookForm.author" class="form-control" id="txtBookAuthor" />
  </div>

  <div class="mb-3">
    <label for="txtBookName" class="form-label">Book Name</label>
    <input type="text" [(ngModel)]="bookForm.name" class="form-control" id="txtBookName" />
  </div>

  <div class="mb-3">
    <label for="txtCost" class="form-label">Cost</label>
    <input type="number" [(ngModel)]="bookForm.cost" class="form-control" id="txtCost" />
  </div>
  <p class="text-right">

    <a [routerLink]="['/books']" class="btn btn-info mr-3">Home</a>
    <button type="button" class="btn btn-dark" (click)="update()">Update</button>
  </p>
</div>